JELLYFIN_PORT = 8096
SONARR_PORT = 8989
RADARR_PORT = 7878
QBITTORRENT_PORT = 8082
QBITTORRENT_UI_PORT = 8090
FILEBROWSER_PORT = 8084
JACKETT_PORT = 9117
PHOTOPRISM_PORT = 2342
HOMER_PORT = 8080
NGINX_PORT_1 = 80
NGINX_PORT_2 = 81
PIHOLE_PORT = 8085
URBACKUP_PORT = 55414
PIHOLE_PW = pihole
JELLYFIN_URL = https://jellyfin.demo.net
SONARR_URL = https://sonarr.demo.net
RADARR_URL = https://radarr.demo.net
JACKETT_URL = https://jackett.demo.net
QBITTORRENT_URL = https://qbittorrent.demo.net
PIHOLE_URL = https://pihole.demo.net
FILEBROWSER_URL = https://filebrowser.demo.net
PHOTOPRISM_URL = https://photoprism.demo.net
URBACKUP_URL = https://urbackup.demo.net
NPM_URL = https://nginx.demo.net
MEDIA_FOLDER = /home/hp/hdd_1
SHOWS_FOLDER = /home/hp/hdd_1/shows
MOVIES_FOLDER = /home/hp/hdd_1/movies
PICTURES_FOLDER = /home/hp/hdd_1/pictures
DOCKER_CONFIGS_PATH = /home/hp/dockers_configs
URBACKUPS_PATH = /home/hp/hdd_1/urbackups
RR_CUSTOM_SCRIPT_PATH = /home/hp/media-server-script/rr_custom_scripts
