colors:
  dark:
    background: '#131313'
    card-background: '#2b2b2b'
    card-shadow: rgba(0, 0, 0, 0.4)
    highlight-hover: '#5a95f5'
    highlight-primary: '#3367d6'
    highlight-secondary: '#4285f4'
    link: '#3273dc'
    link-hover: '#ffdd57'
    text: '#eaeaea'
    text-header: '#ffffff'
    text-subtitle: '#f5f5f5'
    text-title: '#fafafa'
  light:
    background: '#f5f5f5'
    card-background: '#ffffff'
    card-shadow: rgba(0, 0, 0, 0.1)
    highlight-hover: '#5a95f5'
    highlight-primary: '#3367d6'
    highlight-secondary: '#4285f4'
    link: '#3273dc'
    link-hover: '#363636'
    text: '#363636'
    text-header: '#ffffff'
    text-subtitle: '#424242'
    text-title: '#303030'
columns: '4'
header: false
links:
- icon: fas fa-book
  name: Wiki
  url: https://github.com/bastienwirtz/homer/blob/main/docs/configuration.md
logo: logo.png
services:
- icon: fas fa-clapperboard
  items:
  - logo: assets/tools/jellyfin.svg
    name: Jellyfin
    url: https://jellyfin.demo.net
  - logo: assets/tools/sonarr.png
    name: Sonarr
    url: https://sonarr.demo.net
  - logo: assets/tools/radarr.png
    name: Radarr
    url: https://radarr.demo.net
  name: Media
- icon: fas fa-cloud
  items:
  - logo: assets/tools/qbittorrent.png
    name: qBittorrent
    url: https://qbittorrent.demo.net
  - logo: assets/tools/jackett.png
    name: Jackett
    url: https://jackett.demo.net
  name: Services
- icon: fas fa-network-wired
  items:
  - logo: assets/tools/npm.png
    name: NPM
    url: https://nginx.demo.net
  - logo: assets/tools/pihole.png
    name: Pihole
    url: https://pihole.demo.net
  name: Networking
- icon: fas fa-database
  items:
  - logo: assets/tools/photoprism.jpg
    name: Photoprism
    url: https://photoprism.demo.net
  - logo: assets/tools/filebrowser.png
    name: File Browser
    url: https://filebrowser.demo.net
  name: Storage
theme: default
